<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renjing.mybatis.mapper.OrdersUserMapper">
    <select id="findOrderUserList" resultType="com.renjing.mybatis.po.OrdersUserCustomer">
      select orders.id,orders.user_id,orders.number,orders.createtime,orders.note,
      `user`.username,`user`.`password`
      from orders,`user`
      where orders.user_id=`user`.id;
    </select>
</mapper>